div {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: aqua;
}

.translated {
    transform: perspective(15px) translateZ(-10px)
}

.scaled {
    margin-left: 200px;
    transform: perspective(350px) scaleZ(5) rotateX(45deg) rotateY(10deg)
}